.opciones{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border-bottom-left-radius:5px;
}

.opciones ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

.opciones ul li{
    display: inline-block;
    margin-right: 10px;
}

.opciones ul li a{
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
    padding: 5px;
}




